
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">


<!-- Mirrored from d29u17ylf1ylz9.cloudfront.net/boyka-v2/boyka/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Nov 2018 16:39:42 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OLX</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Assets/images/OLX_Logo.png">
    <!-- CSS
    ========================= -->
    <!-- Bootstrap CSS -->
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font CSS -->
    <link href="~/Assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Plugins CSS -->
    <link href="~/Assets/css/plugins.css" rel="stylesheet" />
    <!-- Main Style CSS -->
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <!-- Modernizer JS -->
    <script src="~/Assets/js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body>

    <!-- Main Wrapper Start -->
    <div class="main-wrapper">

        <!-- Hero Slider start -->
        <div class="hero-slider hero-slider-one">
            <div class="single-slide" style="background-image: url('../../Assets/images/slider/slide-bg-1.jpg'); height:625px;">
                <!-- Hero Content One Start -->
                <div class="hero-content-one container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-text-info">
                                <h1>Classic Leather Accessories </h1>
                                <h1>Amazing For Men's</h1>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat</p>
                                <a href="@Url.Action("signup","Accounts")" class="btn slider-btn uppercase"><span><i class="fa fa-plus"></i> Signup  </span></a>
                                <a href="@Url.Action("signin","Accounts")" class="btn slider-btn uppercase"><span><i class="fa fa-plus"></i> Login</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hero Content One End -->
            </div>
            <div class="single-slide" style="background-image: url('../../Assets/images/slider/slider-bg-2.jpg');height:625px;">
                <!-- Hero Content One Start -->
                <div class="hero-content-one container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-text-info">
                                <h1>Spring Men's T-Shirt</h1>
                                <h1>Amazing Men's</h1>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat</p>
                                <a href="@Url.Action("signup","Accounts")" class="btn slider-btn uppercase"><span><i class="fa fa-plus"></i> Signup  </span></a>
                                <a href="@Url.Action("signin","Accounts")" class="btn slider-btn uppercase"><span><i class="fa fa-plus"></i> Login</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hero Content One End -->
            </div>
        </div>
        <!-- Hero Slider end -->
        <!-- Footer Aare End -->





    </div>
    <!-- Main Wrapper End -->
    <!-- JS
    ============================================ -->
    <!-- jQuery JS -->

    <script src="~/Assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Popper JS -->
    <script src="~/Assets/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="~/Assets/js/plugins.js"></script>
    <!-- Ajax Mail -->
    <script src="~/Assets/js/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="~/Assets/js/main.js"></script>


</body>


<!-- Mirrored from d29u17ylf1ylz9.cloudfront.net/boyka-v2/boyka/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Nov 2018 16:40:15 GMT -->
</html>